@import "../../node_modules/bootstrap/scss/bootstrap";


.has-fade {
    visibility: hidden;
}

@keyframes fade-in {
    from {
        visibility: hidden;
        opacity: 0;
    }
    1%{
        visibility: visible;
        opacity: 0; 
    }
    to{
        visibility: visible;
        opacity: 1;
    }


}
.fade-in {
    animation: fade-in 200ms ease-in-out forwards;  
}

@keyframes fade-out {
    from {
        visibility: visible;
        opacity: 1;
    }
    99%{
        visibility: visible;
        opacity: 0;  
    }
    to{
        visibility: hidden;
        opacity: 0;
    }


}

.fade-out {
    animation: fade-out 200ms ease-in-out forwards;  
}

.slide-right {
    animation: slideright 200ms ease-in-out 
}

.dropdown:hover .dropdown-menu {
    display: block;
}


div{
.card:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 10px #00000060;
   }
   
   .card {
       transition: transform  .4s, box-shadow .4s;
   }

}

.dropshadow {

    box-shadow: 0px 10px 20px #000000d5;
    animation: fade-in 1000ms ease-in-out forwards;    
}



