@keyframes text-anim {
    from {
        background-size: 0%;;
    }
    1%{
        background-size: 0%;;
    }
    to {
        background-size: 100%;;
    }
    
    

}

.frontimg{   
    background-image:url('../../images/fifecastle.jpg');
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 23rem;
    padding-top: 23rem;
    margin-left: auto;
    padding-left: auto;
    object-fit: contain;
    animation: text-anim 500ms ease-in-out forwards;
    
 }

 