.frontimg{   
    background-image:url('../../images/skye2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 23rem;
    padding-top: 23rem;
    margin-left: auto;
    padding-left: auto;
 }

