@import "../../node_modules/bootstrap/scss/bootstrap";
@import "variables";
@import "mixins";
@import "animations";
@import "globals";
@import "frontimg";
 

body {
    padding: 1em;
}

/* actual dropdown animation */
.dropdown .dropdown-menu {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
}

.dropdown.show .dropdown-menu {
    max-height: 200px;
    opacity: 1;
}

.input-group-append {
    cursor: pointer;
  }
