img
{
    
    top: 0px;
    left: 0px;
    
}

#imga
{
z-index: 20;
align-content: start;
position:relative;
}

#imgb
{
z-index: 30;
position:relative
object-position:ce;

}

#imgc
{
z-index: 10;
position:absolute
}