@import "animations";

@keyframes text-anim {
    from {
        background-size: 0%;
        opacity: 0;
    }
    1%{
        background-size: 0%;
        opacity: 0;
    }
    to {
        background-size: 100%;
        opacity: 1;
    }
    
    

}

.frontimg{   
    background-image:url('../../images/fifecastle.jpg');
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 23rem;
    padding-top: 23rem;
    margin-left: auto;
    padding-left: auto;
    object-fit: contain;
    animation: slidein-anim 800ms ease-in-out forwards;
    
 }


